* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    font-family: 'alice', sans-serif;
    line-height: 1.5; 
    color: #291b1a;
}

body {
    background-image: url('assets/bg.png'); 
    background-size: cover;
    background-repeat: no-repeat; 

}

#page {
    color: #573a37;
    background-color: #f0e8c2;
    width: 800px;
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

img {
    border-radius: 0;
}

main {
    padding: 10px; 
}

section + section {
    margin-top: 20px; 
}

#about p + p {
    margin-top: 24px;
}

h1 {
    line-height:140%;
    font-size: 40px; 
    margin-bottom: 10px; 
    font-weight: normal;
}

h2 {
    font-size: 24px; 
    line-height: 150%;
    font-weight: normal;
}

h1,
h2 {
    margin-bottom: 10px; 
    color: #291b1a;
}

ul {
    padding-left: 20px; 
}

footer {
    color: #000;
    text-align: left;
    padding-bottom: 10px;
}

footer img {
    vertical-align: middle; 
  
}

